/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 17, 2023, 8:59:26 PM
    Author     : HP
*/
.content{
    margin-top: 50px;
    display: flex;
}

/*Content left*/

.content_left{
    margin-left: 100px;
}


.content_left h1{
    font-size: 40px;
    font-weight: 500;
}

.content_left h2{
    /*background-color: #eee;*/
    border-radius: 8px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
}

.content_left h2:hover, h2:focus{
    background-color: #eee;
}

.content_left a:visited{
    background-color: #eee;

}
.content_left h2 a{
    align-items: center;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    margin-bottom: 4px;
    padding: 14px 12px;
    text-decoration: none;
    color: black;
}

.content_left h2 i{
    color: orange;
}

.content_left h2 ion-icon{
    color: orange;
}

/*Content right*/
.content_right{
    margin-left: 130px;
    margin-top: 10px;
}
.content_right h1{
    font-size: 30px;
    font-weight: 500;

}

.content_right h2{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.content_right input{
    margin-top: 20px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.05);
    color: rgba(0,0,0,.84)!important;
    font-size: 1.4rem;
    margin-bottom: 10px;
    outline: none;
    padding-bottom: 8px;
    width: 60%;
}

::placeholder{
    opacity: 0.6;
}

hr{
    margin-top: 10px;
    opacity: 0.3;
}

.content_right p{
    font-size: 17px;
    margin-top: 20px;
    color: gray;
    opacity: 0.8;
    font-weight: 100;
}

.btn{
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 30px;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    height: 45px;
    width: 90px;
    line-height: 37px;
    padding: 0 16px;
    transition: background-color .1s,border-color .1s,color .1s,fill .1s;
    margin-top: 30px;
    margin-bottom: 20px;
    opacity: 0.75;
}


.btn:hover{
    opacity: 1;
}

.avatar{
    display: flex;
}

.avatar #image{
    border-radius: 50%;
    height: 10em;
    width: 10em;
    margin-left: 20px;
}

.input_img {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}/*

*/.input_img + label {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-right: 300px;
    /*margin-top: -60px;*/
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    max-height: 40px;
    padding: 10px;
    right: 15px;
    position: absolute;


}

.input_img:focus + label,
.input_img + label:hover {
    opacity: 0.8;
}


